@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

/* Versão Mobile */

html {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-weight: lighter;
}

body {
  background: url(../../imagens/login/login-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 414px;
  height: 100vh;
}

.container-cabecalho-login {
  background-repeat: no-repeat;
  height: 180px;
}

.cabecalho {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 36px 64px 0px 64px;
}

.cabecalho-titulo {
  text-align: left;
  font-size: 19px;
  color: #fff;
  margin-left: 35px;
}

.texto-negrito {
  font-weight: bold;
}

/* Versão Desktop */

@media screen and (min-width: 415px) {
  body {
    width: 100%;
    max-width: 100%;
  }

  .cabecalho-titulo {
    font-size: 35px;
  }
}
