.titulo {
  margin-top: 150px;
  margin-bottom: 75px;
}

.fundo {
  background: url(../../../src/imagens/sobre/about-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 422px;
}

.tituloTexto {
  font-size: 5.12em;
  font-weight: bold;
  margin-left: 150px;
}

.subtituloTexto {
  font-size: 2.7em;
  font-weight: bold;
  padding-bottom: 25px;
  color: var(--cor-titulo-pagina-sobre);
}

.artigo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  margin: 154px auto auto;
  gap: 50px;
  width: 85%;
}

.subtitulo {
  max-width: 753px;
}

.blocoParagrafoTexto {
  color: var(--cor-texto-pagina-sobre);
  font-size: 1.56em;
  line-height: 1.5em;
  text-indent: 1.5em;
}

.quemSomos {
  margin-top: 183px;
}

.subtitulo2Texto {
  color: blue;
  font-size: 2.75em;
  font-weight: bold;
  margin-bottom: 66px;
  margin-left: 134px;
}

.blocoImagem {
  max-width: 637px;
}

.blocoImagem img {
  width: 100%;
  min-height: 100%;
}

/* Quem Somos - CARD Membros */
.containerGeral {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 45px;
}

.containerMembros {
  width: 358px;
  height: auto;
  border: 1px solid var(--cor-borda-cartao-membro);
  box-shadow: 0px 5px 10px var(--cor-sombra-cartao-membro);
  border-radius: 10px;
}

.containerCartaoMembros {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px;
}

.membroFoto {
  width: 203px;
  height: 203px;
  border-radius: 50%;
  object-fit: cover;
}

.informacaoMembrosTitulo {
  color: var(--cor-nome-cartao-membro);
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin: 25px 0px;
}

.informacaoMembrosTexto {
  color: var(--cor-texto-pagina-sobre);
  font-size: 1.18em;
  line-height: 1.3em;
  text-align: center;
}

.containerIcones {
  margin-top: 28px;
}

.containerIcones img {
  padding: 0px 9px;
  cursor: pointer;
}

/* Responsividade - Tela entre 650 a 1100 pixels */
@media screen and (min-width: 650px) and (max-width: 1100px) {
  .container {
    gap: 20px 45px;
  }

  .containerMembros {
    width: 36.4%;
  }
}

/* Responsividade - Tela entre 350 a 650 pixels */
@media screen and (min-width: 350px) and (max-width: 650px) {
  .fundo {
    height: 206px;
    background: url(../../imagens/sobre/about-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .titulo {
    margin: 46px 0px;
  }

  .tituloTexto {
    font-size: 2.3em;
    text-align: center;
    margin: 0px;
  }

  .artigo {
    flex-direction: column;
    margin: 55px auto auto;
  }

  .blocoParagrafoTexto {
    font-size: 0.97em;
  }

  .subtituloTexto {
    font-size: 1.37em;
  }

  .subtitulo2Texto {
    color: blue;
    font-size: 1.37em;
    margin-bottom: 46px;
    margin-left: 36px;
  }

  .quemSomos {
    margin-top: 112px;
  }

  .containerMembros {
    width: 90%;
  }
}
