.container-descricao {
  width: 804px;
  height: 290px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 140px;
  margin-top: 168px;
}

.descricao-titulo,
.descricao-subtitulo {
  line-height: 1.1em;
}

.descricao-titulo {
  font-size: 5.1em;
  font-weight: bold;
}

.descricao-subtitulo {
  font-size: 1.9em;
  padding-top: 28px;
  width: 76%;
}

/* Responsividade - Tela 1000 pixels */
@media (max-width: 1000px) {
  nav.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-descricao {
    width: 80%;
    margin-left: 0px;
  }

  .descricao-titulo {
    font-size: 5em;
  }
}

/* Responsividade - Tela 770 pixels */
@media (max-width: 770px) {
  .descricao-titulo {
    font-size: 4rem;
  }

  .descricao-subtitulo {
    width: 89.3%;
    padding-top: 12px;
    font-size: 1.7em;
    line-height: 1.4em;
  }
}

/* Responsividade - Tela 414 pixels */
@media (max-width: 414px) {
  .container-descricao {
    height: 135px;
    margin-top: 72px;
  }

  .descricao-titulo {
    font-size: 2.25em;
  }

  .descricao-subtitulo {
    font-size: 1em;
  }

}
