html {
    scroll-behavior: smooth;
}

.fundo {
  background: url(../../imagens/login/login-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
}

.titulo {
  font-size: 2em;
  font-weight: 500;
  margin-top: 150px;
  margin-bottom: 69px;
  text-align: left;
}

.listagem {
  display: flex;
  flex-direction: column;
  background-color: var(--cor-fundo-tabela-lista);
  border-radius: 20px;
}

.header {
  padding: 20px 0;
  background-color: var(--cor-fundo-titulo-tabela-lista);
  border-radius: 20px 20px 0 0;
}

.header div {
  color: var(--cor-titulo-tabela-lista);
  font-weight: 500;
}

.linha {
  padding: 15px 0;
  border-top: 1px solid var(--cor-fundo-titulo-tabela-lista);
}

.linha div {
  color: var(--cor-texto-tabela-lista);
}

.alinhamento {
  display: flex;
  justify-content: flex-end;
}

.alinhamento div {
  width: 100px;
}

.alinhamento div:first-child {
  margin-right: auto;
  padding-left: 40px;
  width: 100%;
}

/*Botão Lateral Topo da Página*/
.botaoTopoPagina {
  width: 53px;
  height: 48px;
  font-size: 1.8em;
  font-weight: 400;
  background: var(--cor-fundo-botao-topo-pagina);
  border: none;
  cursor: pointer;
  color: transparent;
  text-shadow: var(--cor-texto-botao-topo-pagina);
  box-shadow: var(--cor-sombra-botao-topo-pagina);
  border-radius: 12px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99999;
}

/* Responsividade - Tela 1400 pixels */
@media (min-width: 1501px) {
  .containerTwitterCartao {
    gap: 80px;
  }
}

@media screen and (max-width: 500px) {
  .alinhamento div:first-child {
    padding-left: 20px;
  }

  .alinhamento div {
    width: 80px;
  }

  .titulo {
    margin-top: 112px;
    text-align: center;
  }
}
