h1{
    font-size: 2em;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 30px;
}

.listagem{
    background-color: rgb(13, 96, 168);
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 20px;
    
}

.header{   
    padding: 20px 0;
    background-color: #e6e6e6;
    border-radius: 20px 20px 0 0;

}
.header div{
    color: #3634f7;
    font-weight: 500;
}

.linha{
    padding: 10px 0;
    border-top: 1px solid #e6e6e6;
}
.linha div{
    color: #d842bd;
}

.alinhamento{
    display: flex;
    justify-content: end;
    
}

.alinhamento div{
    width: 100px;
    
}

.alinhamento div:first-child{
    margin-right: auto;
    padding-left: 40px;
    width: 100%;

}

