.container.twitter-flex {
  display: flex;
  justify-content: space-between;
  padding: 0px 187px;
  gap: 20px;
}

.container-twitter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 735px;
}

.twitter {
  display: flex;
  width: 100%;
  border: 1px solid var(--cor-borda-twitter);
  border-radius: 15px;
  box-shadow: 0px 5px 10px var(--cor-sombra-twitter);
}

.container-twitter-foto,
.container-twitter-descricao {
  padding: 23px;
}

.container-twitter-foto {
  display: flex;
}

.twitter-foto {
  width: 82px;
  height: 82px;
  object-fit: cover;
  border-radius: 50%;
}

.twitter-nome,
.twitter-descricao,
.twitter-link {
  color: #000;
}

.container-twitter-nome-usuario {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.twitter-nome {
  font-size: 1.68em;
  font-weight: 500;
  padding-right: 17px;
}

.twitter-usuario {
  color: var(--cor-usuario-twitter);
}

.container-twitter-descricao {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.twitter-descricao {
  font-size: 1.18em;
  line-height: 1.2em;
  padding-top: 10px;
  padding-bottom: 20px;
}

.twitter-link {
  font-size: 1.25em;
  font-weight: 500;
  color: var(--cor-twitter-link);
  text-decoration: none;
}
