@import url(../css/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  font-weight: lighter;
  color: var(--cor-padrao-texto);
}

html {
  height: 100%;
  width: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

footer {
  flex: 1;
}

:root {
  --cor-padrao-texto: #FFF;
  --cor-botao-rosa: #D842BD;
  --cor-botao-azul: #3633f7;
  --cor-texto-busca: #8D9DA2;
  --cor-fundo-rodape: #D842BD;
  --cor-fundo-botao-galeria: #FFF;
  --cor-texto-descricao-galeria: #3634F7;
  --cor-sombra-galeria: #5538EE29;
  --cor-borda-twitter: #5538EE24;
  --cor-sombra-twitter: #5538EE14;
  --cor-usuario-twitter: #292929;
  --cor-twitter-link: #3634F7;
}
