.container {
  width: 100%;
}

.container-cabecalho {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 36px 64px 0px 64px;
}

.cabecalho-titulo {
  font-size: 2.2em;
}

.titulo-negrito {
  font-weight: bold;
}

.botao-sobre,
.botao-login {
  width: 170px;
  height: 49px;
  border-radius: 25px;
  border: none;
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: 0.15em;
}

.botao-sobre {
  background: var(--cor-botao-sobre);
  margin-right: 35px;
}

.botao-login {
  background: var(--cor-botao-login);
}

.icone-botao {
  padding-right: 14px;
}

/* Responsividade - Tela 414 pixels */
@media (max-width: 414px) {
  .container-cabecalho {
    padding: 37px 16px 0px 16px;
  }

  .cabecalho-titulo {
    font-size: 1.18em;
  }

  .botao-sobre,
  .botao-login {
    width: 106px;
    height: 30px;
    font-size: 0.6em;
  }

  .botao-sobre {
    margin-right: 13px;
  }

  .icone-botao {
    width: 24%;
  }
}
