.container {
  width: 100%;
}

.containerCabecalho {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding: 36px 64px 0px 64px;
}

.containerCabecalhoBotoes {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.cabecalhoTitulo {
  font-size: 2.2em;
}

.tituloNegrito {
  font-weight: bold;
}

.botaoSobre,
.botaoLogin {
  width: 170px;
  height: 49px;
  border-radius: 25px;
  border: none;
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: 0.15em;
  cursor: pointer;
}

.botaoSobre {
  background: var(--cor-botao-sobre);
  margin-right: 35px;
}

.botaoLogin {
  background: var(--cor-botao-login);
}

.iconeBotao {
  padding-right: 14px;
}

/* Responsividade - Tela 414 pixels */
@media (max-width: 414px) {
  .containerCabecalho {
    padding: 37px 16px 0px 16px;
  }

  .cabecalhoTitulo {
    font-size: 1.18em;
  }

  .botaoSobre,
  .botaoLogin {
    width: 106px;
    height: 30px;
    font-size: 0.6em;
  }

  .botaoSobre {
    margin-right: 13px;
  }

  .iconeBotao {
    width: 24%;
  }
}
