@import url(../../css/global.css);

.botaoAzul {
  margin-right: 16px;
}

.botaoAzul button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 106px;
  height: 30px;
  background-color: var(--cor-botao-azul);
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.12em;
  border-radius: 25px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

.iconeAzul {
  width: 30%;
  padding-right: 14px;
}

/* Responsividade - Tela 720 pixels */
@media screen and (min-width: 720px) {
  .iconeAzul {
    width: 20%;
  }

  .botaoAzul button {
    width: 130px;
    height: 49px;
    font-size: 0.9em;
  }
}
