section.galeria {
  margin: 0px;
}

.swiper {
  padding-bottom: 56px;
  margin-left: 157px;
  margin-right: 157px;
}

.swiper img {
  width: 287px;
  height: 287px;
  box-shadow: 8px 14px 30px var(--cor-sombra-galeria);
  border-radius: 21px;
  object-fit: cover;
  cursor: pointer;
}

.swiper-slide {
  width: 120px;
  display: flex;
  justify-content: center;
  
}

.swiper-slide {
  width: max-content;
}

.swiper-button-prev {
  color: transparent;
  background-color: var(--cor-fundo-botao-galeria);
  background-image: url('../../imagens/icones/icon-arrow-left.svg');
  background-position: center;
  background-repeat: no-repeat;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  box-shadow: 8px 14px 30px var(--color-box-shadow);
  top: 40%;
}

.swiper-button-next {
  color: transparent;
  background-color: var(--cor-fundo-botao-galeria);
  background-image: url('../../imagens/icones/icon-arrow-right.svg');
  transform: scaleX(-1);
  background-position: center;
  background-repeat: no-repeat;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  box-shadow: 8px 14px 30px var(--color-box-shadow);
  top: 40%;
}

swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  height: 15px;
  width: 15px;
}

/* Responsividade - Tela 1200 pixels */
@media screen and (max-width: 1200px) {
  .swiper {
    margin-left: 0px;
    margin-right: 0px;
  }
}


/* Responsividade - Tela entre 663 a 914 pixels */
@media screen and (min-width: 663px) and (max-width: 914px) {
  .swiper img {
    width: 200px;
    height: 200px;
  }
}

/* Responsividade - Tela entre 415 a 733 pixels */
@media screen and (min-width: 415px) and (max-width: 733px) {
  .swiper-slide {
    width: -webkit-max-content;
    width: max-content;
  }

  .swiper img {
    width: 159px;
    height: 227px;
  }
}

/* Responsividade - Tela entre 415 a 490 pixels */
/* Galeria */
@media screen and (min-width: 375px) and (max-width: 490px) {
  .swiper-backface-hidden .swiper-slide {
    margin-right: 15px;
  }

  .swiper-backface-hidden .swiper-slide:nth-child(1) {
    margin-left: 1px;
  }

  .swiper-backface-hidden .swiper-slide img {
    height: 250px;
    margin-left: auto;
    width: 130px;
  }

  .swiper {
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 0px;
    box-shadow: 8px 14px 30px var(--cor-sombra-galeria);
  }

  .swiper-button-prev,
  .swiper-button-next,
  .swiper-button-disabled,
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    background: transparent;
  }
}