.bgImageGallery img{
  box-shadow: 8px 14px 30px var(--color-box-shadow);
  border-radius: 21px;
  padding: 5px;
  object-fit: cover;
  cursor: pointer;
}

.bgPostUser{
  position: absolute;
  bottom: 0;
  margin-left: 20px;
  margin-bottom: 21px;
  color: var(--titleOneColor);
  font-family: var(--fontMain);
  background-color: rgba( 255, 255, 255, 0.35 );
  backdrop-filter: blur( 13.5px );
  box-shadow: 8px 14px 30px var(--color-box-shadow);
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border-radius: 5px;
  padding: 2px;
  font-size: 16px;
}

.bgPostUser p{
padding-bottom: 6px;
}

.bgPostUser a{
color: var(--titleOneColor);
}

.bgImageGallery:hover .bgPostUser a {
  color: var(--button-color);
}